.intro-wrapper{
    position: absolute;
    text-align: left;
    font-family: 'Courier New', monospace;
    margin: 0 auto;
    width: 100vw;
    height: 25vh;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 0;
}

.title-wrapper{
    position: relative;
    height: 100%;
    margin: 0 5%;
    overflow: hidden;
}

.title-mid{
    margin-left: 20px;
}

.title-bot{
    margin-left: 40px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.profile-picture{
    display: inline;
    float: right;
    width: 30%;
    background-color: black;
    margin-top: -40px;
}