.home-content{
    text-align: center;
    padding-top: 50px;
}

.home-content h1{
    margin-top: 0px !important;
}

.home-title{
    margin: 0 auto;
    width: 50%;
    border-style: none none solid none;
    border-color: white;
    border-radius: 20px;
    border-width: 6px;
}

.categories-container{
    display: flex;
    justify-content: center;
}