.nav{
    position: absolute;
    background-color: #465d82;
    float: left;
    height: 100vh;
    transition: width .5s;
    z-index: 1;
}

.nav.collapsed{
    width: 0;
}

.nav.extended{
    width: 65px;
}

.icon{
    transition: width .5s;
}

.icon.extended{
    margin: 0 auto;
    width: 50px;
    padding: 5px;
}

.icon.collapsed{
    width: 0;
}

.icon img{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    width: 100%;
    margin-top: 5px;
}

.collapse-button{
    position: absolute;
    bottom: 50%;
    width: 40px;
    /* Max width required to overwrite global tailwindcss img max-width value. */
    max-width: 40px;
    transition: margin-left .5s, transform 0.5s;
    border-radius: 0 20% 20% 0;
}

.collapse-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.collapse-button.collapsed{
    margin-left: 0px;
}

.collapse-button.extended{
    margin-left: 65px;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

}